html {
    background-color: rgb(31, 31, 31);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: white;
    touch-action: manipulation;
}

#whenSignedOut {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
    text-align: center;
    background-color: rgb(248, 248, 248);
    padding: 45px 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.85);
    
}

#signInBtn {
    background-color: #7842b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.59);
    font-family: 'Bayon', sans-serif;
    transition-duration: 200ms;
}
#signInBtn:hover {
    background-color: rgb(100, 47, 160);
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.59);
    cursor: pointer;
}

/* #googleLogo {
    height: 20px;
    width: 20px;
    positon: relative;
    top: 4px;
    left: -6px;
} */
nav {
    /* display: flex;
    justify-content: end; */
}
#signOutBtn {
    background-color: #7842b4;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.59);
    font-family: 'Bayon', sans-serif;
    margin: 1% 1%;
    transition-duration: 200ms;
    float: right;
}
#signOutBtn:hover {
    background-color: rgb(100, 47, 160);
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.59);
    cursor: pointer;
}

#buttonDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -45%);
    text-align: center;
}
#theButton {
    background-color: #7842b4;
    border: none;
    height:250px;
    width: 250px;
    border-radius: 100%;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.59);
    transition-duration: 100ms;
    transition-property: height, width, transform;;
    transition-timing-function: ease-in-out;


    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
  }

.grow {
    transform: scale(1.02);
}
.shrink {
    transform: scale(.97);
}

#theButton:hover {
    height: 255px;
    width: 255px;
    cursor: pointer;
}

#buttonStats p{
    font-weight: 700;
    font-size: 18px;
}
#leaderboard {
    padding: 7% 1%;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    min-height: 150px;
    height: auto;
}
.rankingItem {
    color:rgb(31, 31, 31);
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.title {
    font-family: sans-serif;
    color: rgb(31, 31, 31);
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 72px;
    margin: 10px;
}

@media screen and (max-width: 940px) {
    .title {
        font-size: 48px;    
    }
}
@media screen and (max-width: 740px) {
    .title {
        font-size: 48px;   
    }
    #whenSignedOut {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
    text-align: center;
    background-color: rgb(248, 248, 248);
    padding: 20px 10px;
    width:75%;
    
    }
    #leaderboard {
        font-size: smaller;
        padding: 4% 0%;
    }
    #buttonStats p{
        font-weight: 700;
        font-size: 14px;
    }
    #theButton {
        height:200px;
        width: 200px;
    }

}

#ranking0 {
    font-weight: 900;
    color: #7842b4;
}

#playerRanking {
    font-weight: 600;
}